<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="footer">
<a  href="/Contact">Contact</a>
<a  href="/About">About</a>
</div>
</body>
</html>